body {
    font-family: 'Poppins', sans-serif;
    display: flex;
    background: linear-gradient(to bottom, #d9f99d, #a7f3d0);
    margin: 0;
    padding: 0;
    justify-content: center;
    align-items: center;
    height: 100vh;
    color: #065f46;
}

h1 {
    font-size: 2.5rem;
    flex-direction: column;
    color: #3bb459;
    margin-bottom: 300px;
    text-shadow: 2px 2px 4px #81cb56;
}

form {
    display: flex;
    flex-direction: column; /* Układ pionowy */
    align-items: center;
    justify-content: center;
    width: 300px;
    padding: 20px;
    border: 1px solid #ddd;
    border-radius: 10px;
    background: white;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}
form label {
    margin-bottom: 10px;
    font-size: 1.1rem;
    color: #2d6a4f;
    font-weight: bold;
}

input[type="file"] {
    padding: 10px;
    border-radius: 5px;
    border: 1px solid #10b981;
    background-color: #d1fae5;
    cursor: pointer;
    color: #065f46;
}

button {
    margin-top: 15px;
    padding: 10px 20px;
    border: none;
    border-radius: 10px;
    background-color: #34d399;
    color: white;
    font-size: 1rem;
    cursor: pointer;
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.1);
    transition: all 0.3s ease;
}

button:hover {
    background-color: #059669;
    transform: scale(1.05);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

button:active {
    transform: scale(1);
}

input[type="file"]:hover {
    background-color: #7cef98;
}

input[type="file"]:active {
    background-color: #bfe8d8;
}

footer {
    margin-top: 20px;
    text-align: center;
    font-size: 0.9rem;
    color: #065f46;
}
@keyframes glow {
    0% {
        box-shadow: 0 0 5px #34d399;
    }
    50% {
        box-shadow: 0 0 15px #34d399;
    }
    100% {
        box-shadow: 0 0 5px #34d399;
    }
}

input[type="file"] {
    padding: 10px;
    border-radius: 5px;
    border: 1px solid #10b981;
    background-color: #c5f6d1;
    cursor: pointer;
    color: #065f46;
    animation: glow 1.5s infinite;
}
form button {
    background-color: #7cef98;
    color: white;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    border-radius: 5px;
    font-size: 1rem;
    width: 50%;
    transition: background-color 0.3s ease;
}

form button:hover {
    background-color: #2d6a4f;
}