<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Plant Health Check</title>
    <link rel="stylesheet" href="../static/styles.css">
</head>
<body>
    <h1>Sprawdź zdrowie rośliny</h1>
    <form action="/predict" method="POST" enctype="multipart/form-data">
        <input type="file" id="image" name="image" accept="image/*" required>
        <button type="submit">Przeanalizuj</button>
    </form>
  <!-- Wynik analizy -->
    {% if result %}
        <div class="result">
            <h2>Wynik analizy:</h2>
            <p>{{ result }}</p>
            {% if uploaded_image_url %}
                <img src="{{ uploaded_image_url }}" alt="Przesłane zdjęcie" style="max-width: 300px; margin-top: 20px;">
            {% endif %}
        </div>
    {% endif %}
</body>
</html>
